@model IEnumerable<PANWebApp.Models.MovieViewModel>
@{
    ViewBag.Title = "Movie list";
}



<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Title</th>
            <th>@item.Year</th>
            <th>@item.Director</th>
            <th class="">
                @Html.ActionLink("Edit", "Edit", "Movies", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Details", "Details", "Movies", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Remove", "Remove", "Movies", new { id = item.Id }, new { @class = "btn btn-default" })
            </th>
        </tr>
    }
</table>
@Html.ActionLink("Add new", "Add", "Movies", new { @class = "btn btn-primary" })